@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 1rem = 10px */
/* html {
  font-size: 62.5%; 
} */

.page-width {
  max-width: 100%;
  padding: 0 16px;
}

@media screen and (min-width: 750px) {
  .page-width {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .page-width {
    padding: 0 48px;
  }
}

.logo-header {
  width: 150px;
  height: auto;
}

:root {
  --ant-border-radius: 0px;
}

.ant-btn,
.ant-input,
.ant-select-selector,
.ant-input-affix-wrapper,
:where(.css-dev-only-do-not-override-11mmrso).ant-input-lg.rounded-none {
  border-radius: 0;
}

.button-search {
  border: 0;
  box-shadow: none;
}

.main-header {
  border-bottom: 1px solid #ccc;
}

.slideshow-wrapper .slick-slide {
  border-radius: 16px;
}

.image-slider {
  object-fit: contain;
  border-radius: 16px;
  width: 100%;
  height: auto;
}